@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}  

.entry-page {
  background: url("/bg_mobile.png");
  background-size: cover;
}

.entry-page.wheel-bg {
  background: url("/bg_mobile_wheel.png");
  background-size: cover;
}

@media (min-width: 768px) {
  .entry-page {
    background: url("/bg_desktop.png");
    background-size: cover;
  }
  
  .entry-page.wheel-bg {
    background: url("/bg_desktop_wheel.png");
    background-size: cover;
  }
}
